# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.tlog
*.obj
*.idb
*.pdb
*.sdf
*.log
*.lastbuildstate
*.unsucessfulbuild
*.opensdf

*.ilk
*.exe

*.manifest
*.unsuccessfulbuild

/inter
/ipch
*.dll
*.lib
*.exp
